body {
    background-color: black;
}

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "soft-Bold";

    src: url("fonts/19144.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";

    src: url("fonts/19167.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne-Regular";

    src: url("./fonts/RussoOne-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}